<li class="collection-item avatar">
  <i class="material-icons circle green">alarm</i>
  <span class="title">Lat: {{movimiento.p_latitud}} Long: {{movimiento.p_longitud}}</span>
  <p>{{movimiento.p_time}}<br>
  Velocidad: {{movimiento.p_velocidad}}. Direccion: {{movimiento.p_direccion}}
  </p>
  <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
</li>



{{!--

p_alarm          "ac alarm"
p_direccion "0;"
p_fecha          "2017-11-08 20:24:05"
p_id          :          "1"
p_latitud          :          "-37.299228"
p_longitud          :          "-59.150677"
p_time          :          "2017-11-09 05:15:37"
p_velocidad          :          "0"

--}}

{{yield}}
